.profile{
  box-shadow: 0 0 6px rgba(0,0,0,0.5); 
  width: 150px;
  
}
.profile_picture{
  object-fit: cover;
  width: 150px;
  height: 140px;
}
.profile_name{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  padding-left: 5px;
}
.extra_data{
  font-size: 14px;
  color: rgb(200, 191, 180);
  font-family: 'Times New Roman', Times, serif;
  margin-top: -15px;
  margin-bottom:20px;
  padding-left: 5px;
}
.button
{
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: rgb(69, 69, 218);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s opacity  ease;
}
.button:hover
{
  opacity: 0.8;
}
.button:active
{
  opacity: 0.5;
}